@import url(./global.css);

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-Gray4);
    padding: 24px 0px;

}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 40px;

}

.nav-header ul li a  {
    text-decoration: none;
    color: var(--color-Gray1);
    font-family: "Alexandria", sans-serif;
}

