.container{
    display: grid;
    text-align: center;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}



.item {
  background:red;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

