.box{
    background-color: darkgoldenrod;
    width: 400px;
    height: 200px;
    position: absolute;
}

.absolute{
    background-color: aliceblue;
    width: 90px;
    height: 90px;
    position: absolute;
    top:40px;
    left: 140px;
}