.red1{
    background-color: red;
}
.red2{
    background-color: rgb(163, 4, 4);
}
.red3{
    background-color: rgb(240, 48, 48);
}
.red4{
    background-color: rgb(168, 5, 5);
}
.red5{
    background-color: rgb(141, 14, 14);
}
.red6{
    background-color: rgb(156, 29, 29);
}
.red7{
    background-color: rgba(156, 7, 7, 0.795);
}
.red8{
    background-color: rgb(148, 4, 4);
}
.red9{
    background-color: rgb(224, 13, 13);
}
.red10{
    background-color: rgb(202, 11, 11);
}