*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --color-neutral-black: #263238;
    --color-neutral-D_Grey: #4D4D4D;
    --color-neutral-Grey:#717171;
    --color-neutral-L_Grey:#89939E;
    --color-neutral-Grey-blue:#ABBED1;
    --color-neutral-Silver:#F5F7FA;
    --color-neutral-White:#FFFFFF;


    --color-primary: #4CAF4F;
    --color-segundary: #263238;
    --color-info: #2194f3;


    --color-shade1:#43A046;
    --color-shade2:#388E3B;
    --color-shade3:#237D31;
    --color-shade4:#1B5E1F;
    --color-shade5:#103E13;


    --color-tint1:#66BB69;
    --color-tint2:#81C784;
    --color-tint3:#A5D6A7;
    --color-tint4:#C8E6C9;
    --color-tint5:#E8F5E9;


    --color-action-Warning:#FBC02D;
    --color-action-Error: #E53835;
    --color-action-Success:#2E7D31;


    --font: "Inter", sans-serif;
}

body{
    font-family: var(--font);
    
}

.btn-primary{
    padding: 14px 32px;
    border-radius: 4px;
    background-color: var(--color-primary);
    color: var(--color-neutral-White);
    cursor: pointer;
    transition: 0.5s;
    margin-top: 16px    ;
}

.btn-primary:hover{
    color:var(--color-shade3) ;
}